<h1>This is hedge fund dashboard</h1>

<div class="fund-box">
    {{#each hedgeFund}}
    <h1>{{this.fundName}}</h1>
    <h2>{{this.worth}}</h2>
    <h2>{{this.portfolioContent}}</h2>
    <h2>{{this.portfolioItems}}</h2>
    <a href="/fund/traders"><h2>{{this.traders}}</h2></a>
    {{/each}}
</div>

<a href="/myfund">Go to Dashboard</a>
<a href="/new-fund">Create a fund</a>

<div>
    <a type="button" href="/logout">Logout</a>
</div>
