<h1>{{hedgeFund.fundName}}</h1>
<h2>{{hedgeFund.worth}}</h2>
<h2>{{hedgeFund.portfolioContent}}</h2>
<h2>{{hedgeFund.portfolioItems}}</h2>
<a href="/fund/traders">
    <h2>{{hedgeFund.traders}}</h2>
</a>