<h1>Hedge Fund Name: {{hedgeFund.fundName}}</h1>
<h2>Current worth of the fund: {{hedgeFund.worth}}</h2>
<h2>Top Instruments of the fund: {{hedgeFund.portfolioContent}}</h2>
<h2>Amount of instruments of this fund: {{hedgeFund.portfolioItems}}</h2>
<h2>Number of traders: {{hedgeFund.tradersNum}}</h2>
<a href="/fund/{{hedgeFund._id}}/traders"><h2>List of traders</h2></a>

<div class="trader-box">
    {{#each trader}}
        <h3>{{this.name}}</h3>
    {{/each}}

</div>

<a href="/fund/{{hedgeFund._id}}/traders/new-trader">Add new Trader</a>
<a href="/myfund">Go to Dashboard</a>
