<h1>Create your hedge fund</h1>

<div class="form-container">
    <form action="/fund" method="POST">
        {{!-- <label for="fund-name">Name of the fund</label> --}}
        <input type="text" name="fundName" value="{{hedgeFund.fundName}}"/>
        <input type="text" name="worth" value="{{hedgeFund.worth}}">
        <input type="text" name="portfolioContent" value="{{hedgeFund.portfolioContent}}">
        <input type="text" name="portfolioItems" value="{{hedgeFund.portfolioItems}}">
        <input type="text" name="traders" value="{{hedgeFund.traders}}">
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
</div>

