<h1>Create your hedge fund</h1>

<div class="form-container">
    <form action="/fund" method="POST">
        {{!-- <label for="fund-name">Name of the fund</label> --}}
        <input type="text" name="fundName" value="{{hedgeFund.fundName}}" placeholder="Fund Name"/>
        <input type="text" name="worth" value="{{hedgeFund.worth}}" placeholder="Total Worth">
        <input type="text" name="portfolioContent" value="{{hedgeFund.portfolioContent}}" placeholder="Content">
        <input type="text" name="portfolioItems" value="{{hedgeFund.portfolioItems}}" placeholder="How many instruments?">
        <input type="text" name="traders" value="{{hedgeFund.traders}}" placeholder="How many traders?">
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
</div>

