<h1>Name: {{trader.name}}</h1>
<h2>Amount allocated: {{trader.allocated}}</h2>
<h2>Current worth: {{trader.currentWorth}}</h2>
<h2>Content of the trader's portfolio: {{trader.portfolioContent}} </h2>
<h2>Number of financial instruments the trader owns: {{trader.portfolioItems}}</h2>


<a href="/fund/{{hedgeFund._id}}">Go back</a>